/templates
/student.html
/welcome.html
…
…
hello.py
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<!-- Add css and header files here -->
</head>
<body>

<h1>APARNA SAJEEV</h1>
<p>WELCOME.</p>

<form action="/student_process" method="post">

<label for="fname">First name:</label><br>

<input type="text" id="fname" name="fname"><br>

<label for="lname">Last name:</label><br>

<input type="text" id="lname" name="lname">
<input type="submit" Value='Enter'>

</form>

</body>
<!-- Add js and footer files here -->
</html>
    <!DOCTYPE html>
    <head>
    <title>Page Title</title>
    <!-- Add css and header files here -->
    </head>
    <body>

    <h1>{{name}}</h1>

    <p> Welcome</p>


    </body>
    <!-- Add js and footer files here -->
    </html>
